@import './main.sass'
@import './pokemon-info.sass'
@import './ability-info.sass'
@import './variables.sass'

body
  background-color: rgba(241, 239, 235, 0.7)
  font-family: Roboto, Arial, sans-serif

.back:hover
  background-color: #ddd
  color: black


.back
  margin: $shmargin
  background-color: #2245
  color: white
  padding: 5px
  border-radius: 5px
  width: fit-content
  font-size: 3vw
  a
    text-decoration: none

.loading, .error
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  font-size: $headfs
  display: flex
  align-items: center
  justify-content: center