@import './variables.sass'

#main-page
	text-align: center
	.pokemon
		width: 30%

.pokemon
	background: radial-gradient(#e66465, #9198e5)
	margin: 15px
	display: inline-block
	border-radius: 15%
	padding-top: 15px
	padding-bottom: 15px
	transition: 300ms
	&:hover
		box-shadow: 0px 0px 25px gold
		transform: scale(1.02)


.pokemon-image
	width: 90%
	height: auto
	margin: 0 5% 0 5%

.pokemon-name
	text-shadow: blue 1px 0 10px
	font-size: $headfs
	text-align: center
	color: yellow

input
	outline: none
	font-size: $stdfs
	margin: 15px
	border-radius: 15px
	padding: 5px

