@import './variables.sass'

.stats-wrapper
	margin: $shmargin
	width: 50%
	ul
		font-size: $headfs
		padding: 0
		margin: 0
		li
			font-size: $stdfs
			display: block
			position: relative
			overflow: hidden
			&:after
				content:''
				display: block
				overflow: hidden
				height: $stdfs
				border-bottom: 1px dotted #666

			.key
				display: block
				float: left
				z-index: 2
				padding-right: 2px

			.value
				display: block
				float: right
				z-index: 2
				padding-left: 2px

.types-wrapper
	font-size: $headfs
	margin: $shmargin
	width: 40%
	text-align: center
	vertical-align: top
	.type
		font-size: 3vw
		border-radius: 10%
		width: fit-content
		padding: 7px
		display: inline-block
		margin: 0 10px 10px 10px

.abilities-wrapper
	margin: $shmargin
	width: 50%
	font-size: $headfs
	.ability
		font-size: $stdfs

.row > *
	display: inline-block
	vertical-align: top
	@media screen and (orientation: portrait)
		display: block
		width: 80%
		margin: $shmargin auto $shmargin auto
		text-align: center

.row
	.pokemon
		width: 40%